<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402011679884-8gsja6o7nclji36trmfaeq7du72bn684.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402011679884-8gsja6o7nclji36trmfaeq7du72bn684</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402011679884-acjsms6a466plmsgq3qlqc93gi9fkl1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUMZZ1wb9r8p80x-7IuXkvTKU1g1623nI</string>
	<key>GCM_SENDER_ID</key>
	<string>402011679884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumisermaster</string>
	<key>PROJECT_ID</key>
	<string>sumiser-master-vote-edit-c8dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>sumiser-master-vote-edit-c8dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402011679884:ios:83e23448bef8f720df1fa9</string>
	<key>DATABASE_URL</key>
	<string>https://sumiser-master-vote-edit-c8dc1.firebaseio.com</string>
</dict>
</plist>